<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8"/>
        

        
        <title>
        </title>
    </head> 
        <h1>Here is your itinerary for <%= tourData.size %> </h1>
        <h1>Here is your itinerary for <%= tourData.name %> </h1>
        <h1>Here is your itinerary for <%= tourData.surname %> </h1>
        <h1>Here is your itinerary for <%= tourData.email %> </h1>
        <h1>Here is your itinerary for <%= tourData.medical %> </h1>
        <h1>Here is your itinerary for <%= tourData.duration %> </h1>
        <h1>Here is your itinerary for <%= tourData.budget %> </h1>
</html>


